<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Error - API_KEY</title>
		<style>
			.tab {
				display:  inline-block;
				margin-left: 60px;
			}
		</style>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/subpage2.css')}}">
		<body>
			<h1>Display Error Message</h1>
			<form action="/" method="get">
				 {% for message in get_flashed_messages()%}
				 	<p> {{message}} </p>
				 {% endfor %}
				 <br>
				 <p> Fix error if caused by Environment/Config Variables, fixed it and try again...<span class="tab"></span>   :-) </p>
				 <p> If it is source data retrieval error, try again later. <span class="tab"></span> :-) </p>
			     <br><br>
			     <input type="submit" value="Back" id="diserror">
			 </form>
		</body>
	</head>
</html>